@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Source+Sans+Pro');
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";

:root {
  --color-bg: #fff;
  --color-main: #07889b;
  --color-main-light: #66b9bf;
  --color-accent: #e37222;
  --color-accent-light: #eeaa7b;

  --font-main: 'Source Sans Pro', sans-serif;
  --font-code: 'Inconsolata', monospace;

  --color-main-magnetic-blue: #283663;
  --color-main-violet: #8c7cc4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    height: 100%;
}

body {
  background-color: var(--color-bg);
  position: relative;
  min-height: 100%;
}

header {
  background-color: var(--color-accent);
  padding: 4px;
  height: auto;
  overflow: auto;
}

h1 {
  color: var(--color-main);
  color: #fff;
  font-size: 2em;
  font-family: var(--font-main);
  margin-left: 10px;
  float: left;
}

fieldset {
  padding: 20px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  margin-bottom: 20px;
}

legend {
  width: auto;
  color: gray;
  font-size: medium;
  padding-left: 5px;
  padding-right: 5px;
}

#search-form {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.property-search-form {
  width: 60%;
}

.text-search {
  margin-left: 15px;
  margin-right: 0;
}

.result-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.result-title-info {
  margin-left: auto;
}

*:focus {
  outline: none;
}

#searchbox {
  float: left;
  border: 1px solid gray;
  border-radius: 5px;
  width: 50%;
  padding: 4px;
}

#searchbox:empty:not(:focus):before{
  content: attr(placeholder);
  color:grey;
}

.tagtext {
  font-weight: bold;
  color: #444;
}

#button-submit {
  background-color: var(--color-main-violet);
  color: #fff;
  border-style: none;
  border-radius: 5px;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
  opacity: 0.8;
  transition: opacity 300ms ease-in;
}

#button-submit:hover {
  background-color: var(--color-main-violet);
  opacity: 1;
}

.button-search {
    background-color: var(--color-main-violet);
    color: #fff;
    border-style: none;
    border-radius: 5px;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
    opacity: 0.8;
    transition: opacity 300ms ease-in;
}

.button-search:hover {
  background-color: var(--color-main-violet);
  opacity: 1;
}

.button-remove {
  border: none;
  background-color: transparent;
  color: var(--color-main-magnetic-blue);
}

.original-properties .button-remove {
  visibility: hidden;
}

.original-properties .boolean-property {
  visibility: hidden;
}

.result {
  display: block;
  margin: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  width: 50%;
}

.result .container-box {
  margin: 0;
  padding: 0;
}

.result a {
  font-family: var(--font-main);
  font-size: 1.4em;
}

code {
  font-family: var(--font-code);
  font-size: 0.8em;
}

#pills-tabContent {
  width: 100%;
}
pre {
  font-family: monospace;
  background-color: #fff;
  padding: 0.5em;
  border-radius: 0.25em;
  margin-top: 16px;
  margin-bottom: 40px;
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.45);
  line-height: 0;
  counter-reset: line;
  overflow: hidden;
}
pre span {
  display: block;
  line-height: 1.5rem;
}
pre span:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 0.5em;
  margin-right: 0.5em;
  color: #888;
}

#nav-custom {
  padding: 16px 32px;
  background-color: var(--color-main-magnetic-blue);
  width: 100%;
  margin-bottom: 48px;
}

#nav-custom .nav-link.active {
  color: var(--color-main-violet);
  background-color: transparent;
  border-bottom: 1px solid;
  border-radius: 0;
  padding-bottom: 3px;
}

.nav-pills {
  margin: 0 !important;
  width: 70%;
}
#nav-custom a {
  color: white;
  font-weight: 600;
}
